html{
	height:100%;
	width:100%;
	margin:0px;
	--accent-top:10%;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
a {
	color: white;
	line-height: inherit;
	text-decoration: none;
}

.warning {
	color: #f7ac42;
	opacity: 0.9;
	text-align: center;
}
.active{
	color:white;
}
.inactive{
	color:#7e7e7e;
}
.nliner{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	flex-direction: column;
	position: absolute;
	top: 30rem;
	width: 50%;
	word-break: break-word;
	text-align: center;
}
.navigation{
	font-size:2.7rem;
	margin-top: 0px;
	display:flex;
	justify-content:space-evenly;
	align-items: center;
}
.navigation > a{
	color:transparent;
	text-decoration:none;
}

.home-card{
	position: absolute;
	top: 40%;
	z-index: 100;
	width: 100%;
}
.post-index{
	justify-content: center;
	margin-top: 4rem;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}
.index-lists{
	position:relative;
	font-size:1.5rem;
	text-align:left;
	width:65%;
}
.index-headers{
	position:relative;
	text-align:center;
	width:35%;
}
.post-index-section-header{
	height:30%;
	font-size:1.5rem;
}
.post-index-section-list{
	padding-left:7rem;
	margin-top:2rem;
}
.post-index-section-list > ul{
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}
.post-index-section-list > ul > li{
	margin-bottom:1rem;
}
ul, ol, dl {
	font-family: inherit;
	line-height: 1.6;
	list-style-position: outside;
}
h1{
	color:#fffff1;
}
body{
	background: #0f0f0f;
	color: #f1e1ee;
	font-family: Poppins,sans-serif;
	cursor:auto;
	font-size:1.2rem;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	margin:0px;
}
@media(orientation:portrait){
	.post{
		width:90%;
		text-align:justify;
	}
}
@media(orientation:landscape){
	.post{
		width:50%;
		text-align:justify;
	}
	/* yoinked from https://bit.ly/CodePenAccentShard*/
	body{
		background-image: radial-gradient( rgba(255, 255, 255, 0.1) 1px, transparent 1px );
		background-position: 50% 50%;
		background-size: 1.1rem 1.1rem;
	}
}
code{	
	background-color: #333;
	color: #fff;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-weight: normal;
	padding: 0.125rem 0.3125rem 0.0625rem;
	width: fit-content;
	display: inline-block;
}
pre {
	background-color: transparent;
	border: 0;
	padding: 0;
}
a:hover {
	cursor: pointer;
}
.home-img {
	max-width: 5.7rem;
	aspect-ratio: 1/1;
	margin: 1rem;
}
footer{
	bottom:0px;
	position:fixed;
	width: 100%;
	justify-content: center;
	display: flex;
}
#header{
	width: 100%;
}
.gradient-text{
	background: linear-gradient(155deg, #50f0c6, #50eff0, #c69bf0);
	background-size: 100% 100%;
	-webkit-animation: header-gradient 2s ease infinite;
	-moz-animation: header-gradient 2s ease infinite;
	animation: header-gradient 2s ease infinite;
	-webkit-background-clip:text;
	background-clip:text;
	color: transparent;
}

@-webkit-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@-moz-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}

.text-vert{
	text-orientation:sideways;
	writing-mode:vertical-lr;
}
.div-soup-ofcourse{
	display: flex;
	gap: 1.5rem;
}
#div-404{
	justify-content: center;
	align-content: center;
	height:100vh;
	display: grid;
}
