pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
a {
	color: white;
	line-height: inherit;
	text-decoration: underline;
}

.header-name{
	font-size:4rem;
	color:transparent;
	padding: 0px;
	margin-top: 4rem;
	margin-bottom: 0px;
}
.navigation{
	font-size:2.7rem;
	color: transparent;
	margin-top: 0px;
	display:flex;
	justify-content:space-evenly;
}
.navigation > a{
	color:transparent;
	text-decoration:none;
}
.navigation :not(a:first-child){
	margin-left:1rem;
}
.post_section_item{
	color:#f1f1f1;
	font-size:1.2rem;
	text-decoration:none;
}	
ul, ol, dl {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
}
h1{
	color:#fffff1;
}
body{
	background: #0f0f0f;
	color: #f1e1ee;
	font-family: Poppins,sans-serif;
	cursor:auto;
	margin-left:4rem;
	font-size:1.2rem;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100vh;
}
.post{
	width:50%;
	text-align:justify;
}
code{	
	background-color: #333;
	color: #fff;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-weight: normal;
	padding: 0.125rem 0.3125rem 0.0625rem;
	width: fit-content;
	display: inline-block;

}
pre {
	background-color: transparent;
	border: 0;
	padding: 0;
}
a:hover {
	cursor: pointer;
}
footer{
	bottom:0px;
	position:fixed;
	width: 100%;
	justify-content: center;
	display: flex;
}
#header{
	background: linear-gradient(155deg, #50f0c6, #50eff0, #c69bf0);
	background-size: 600% 600%;
	-webkit-animation: header-gradient 2s ease infinite;
	-moz-animation: header-gradient 2s ease infinite;
	animation: header-gradient 2s ease infinite;
	-webkit-background-clip:text;
	background-clip:text;
}

@-webkit-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@-moz-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}

.text-vert{
	text-orientation:sideways;
	writing-mode:vertical-lr;
}
.div-soup-ofcourse{
  display: flex;
  gap: 1.5rem;
}
#div-404{
	justify-content: center;
	align-content: center;
	height:100vh;
	display: grid;
}
