pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
a {
	color: white;
	line-height: inherit;
	text-decoration: underline;
}
.text-scale{
	animation: text-scale 5s;
}
@keyframes text-scale{
	0%{
		opacity:1;
		transform:scale(1.0);
	}
	100%{
		opacity:0;
		transform:scale(5.0);
	}
}
.header-name{
	font-size:4rem;
	color:transparent;
	padding: 0px;
	margin-top: 4rem;
	margin-bottom: 0px;
}
.navigation{
	font-size:2.7rem;
	color: transparent;
	margin-top: 0px;
	display:flex;
	justify-content:space-evenly;
}
.navigation > a{
	color:transparent;
	text-decoration:none;
}

.home-card{
  position: absolute;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(155deg, #50f0c6, #50eff0, #c69bf0);
  background-size: 600% 600%;
  -webkit-animation: header-gradient 2s ease infinite;
  -moz-animation: header-gradient 2s ease infinite;
  animation: header-gradient 2s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  top: 40%;
  z-index:100;
}
.post-index{
	display: flex;
	justify-content: space-between;
	margin-top:4rem;
}
.post-index-section{
	position: relative;
	background-color: rgb(16 16 16);
	border: 1px solid rgb(255 255 255 / 5%);
	border-radius: 1.5rem;
	padding: 1rem;
	width: 30%;
}
.post-index-section > h2{
	text-align:center;
}
.post_section_item{
	color:#f1f1f1;
	font-size:1.2rem;
	text-decoration:none;
}	
ul, ol, dl {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
}
h1{
	color:#fffff1;
}
body{
	background: #0f0f0f;
	color: #f1e1ee;
	font-family: Poppins,sans-serif;
	cursor:auto;
	font-size:1.2rem;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100vh;
}
@media(width<=600px){
	.post{
		width:80%;
		text-align:justify;
	}
	.post-index{
		flex-direction:column;
	}
}
@media(width>600px){
	.post{
		width:50%;
		text-align:justify;
	}
	/* yoinked from https://bit.ly/CodePenAccentShard*/
	body{
		background-image: radial-gradient( rgba(255, 255, 255, 0.1) 1px, transparent 1px );
		background-position: 50% 50%;
		background-size: 1.1rem 1.1rem;
	}
}
code{	
	background-color: #333;
	color: #fff;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-weight: normal;
	padding: 0.125rem 0.3125rem 0.0625rem;
	width: fit-content;
	display: inline-block;
}
pre {
	background-color: transparent;
	border: 0;
	padding: 0;
}
a:hover {
	cursor: pointer;
}
.home-img {
  max-width: 5.7rem;
  aspect-ratio: 1/1;
  margin: 1rem;
}
footer{
	bottom:0px;
	position:fixed;
	width: 100%;
	justify-content: center;
	display: flex;
}
#header{
	background: linear-gradient(155deg, #50f0c6, #50eff0, #c69bf0);
	background-size: 600% 600%;
	-webkit-animation: header-gradient 2s ease infinite;
	-moz-animation: header-gradient 2s ease infinite;
	animation: header-gradient 2s ease infinite;
	-webkit-background-clip:text;
	background-clip:text;
}

@-webkit-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@-moz-keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}
@keyframes header-gradient {
	0%{background-position:96% 0%}
	50%{background-position:5% 100%}
	100%{background-position:96% 0%}
}

.text-vert{
	text-orientation:sideways;
	writing-mode:vertical-lr;
}
.div-soup-ofcourse{
	display: flex;
	gap: 1.5rem;
}
#div-404{
	justify-content: center;
	align-content: center;
	height:100vh;
	display: grid;
}
